@use "../../styles/tokens" as *;

.header {
  align-items: center;
  background-color: $primary;
  color: $on-primary;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  @media (max-width: $desktop-breakpoint) {
    padding: $m-size;
  }
}
