@use "../../styles/tokens" as *;

.input {
  background: inherit;
  color: inherit;
  border: none;
  border-radius: 3px;
  font-size: $font-size-s;
  font-family: inherit;
  outline: none;
  padding: $xs-size;
  text-align: center;
  &:focus {
    box-shadow: 0 0 0 2px $primary;
  }
}
